@page
@model DealDex.WebSite.Pages.Suppliers.Agregar

<head>
    <link rel="stylesheet" href="~/css/AgregarSupplier.css" />
</head>

<body class="agregar-supplier-page">
    <div class="container-fluid agregar-supplier">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="logo-container">
                    <img src="~/css/Logo.jpeg" alt="Logo" class="img-fluid" />
                </div>
                <h2>Agregar</h2>
                <form method="post">
                    <input type="hidden" />
                    <div class="form-group">
                        <label asp-for="SupplierInfoDto.Correo"></label>
                        <input asp-for="SupplierInfoDto.Correo" class="form-control" maxlength="45" placeholder="Correo"/>
                        <span class="text-danger" asp-validation-for="SupplierInfoDto.Correo"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SupplierInfoDto.Nombre"></label>
                        <input asp-for="SupplierInfoDto.Nombre" class="form-control" maxlength="45" placeholder="Nombre"/>
                        <span class="text-danger" asp-validation-for="SupplierInfoDto.Nombre"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SupplierInfoDto.Cuidad"></label>
                        <input asp-for="SupplierInfoDto.Cuidad" class="form-control" maxlength="45" placeholder="Ciudad"/>
                        <span class="text-danger" asp-validation-for="SupplierInfoDto.Cuidad"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SupplierInfoDto.Direccion"></label>
                        <input asp-for="SupplierInfoDto.Direccion" class="form-control" maxlength="45" placeholder="Dirección"/>
                        <span class="text-danger" asp-validation-for="SupplierInfoDto.Direccion"></span>
                    </div>
                    @if (Model.Errors.Count > 0)
                    {
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                @foreach (var error in Model.Errors)
                                {
                                    <li>@error</li>
                                }
                            </ul>
                        </div>
                    }
                    <div class="btn-container">
                        <button type="submit" class="btn btn-primary mr-3">Save</button>
                                    <a asp-page="/Suppliers/List" class="btn btn-success"> Cancel</a>
                    </div>
                </form>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</body>
