@page "{id:int}"
@model DealDex.WebSite.Pages.Cart.Delete

<div class="container-fluid" id="cart-delete-container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Delete</h2>
                        <form method="post">
                            <input type="hidden" asp-for="CarritoDto.id" />
                            <div class="form-group">
                                <label asp-for="CarritoDto.Titulo"></label>
                                <input readonly asp-for="CarritoDto.Titulo" class="form-control" maxlength="45" />
                            </div>
                            <div class="form-group">
                                <label asp-for="CarritoDto.IdProducto"></label>
                                <input readonly asp-for="CarritoDto.IdProducto" class="form-control" maxlength="45" />
                            </div>
                            <div class="form-group">
                                <label asp-for="CarritoDto.Precio"></label>
                                <input readonly asp-for="CarritoDto.Precio" class="form-control" maxlength="100" />
                            </div>
                            <div class="form-group">
                                <label asp-for="CarritoDto.Image"></label>
                                <input readonly asp-for="CarritoDto.Image" class="form-control" maxlength="100" />
                            </div>
                            <div class="form-group">
                                <label asp-for="CarritoDto.Cantidad"></label>
                                <input readonly asp-for="CarritoDto.Cantidad" class="form-control" maxlength="100" />
                            </div>
                            <div class="form-group">
                                <label asp-for="CarritoDto.IdUser"></label>
                                <input readonly asp-for="CarritoDto.IdProducto" class="form-control" maxlength="100" />
                            </div>
                            @if (!ModelState.IsValid)
                            {
                                <div class="alert alert-danger">
                                    <ul>
                                        @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
                                        {
                                            <li>@error</li>
                                        }
                                    </ul>
                                </div>
                            }
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <button type="submit" class="btn btn-primary mr-3">Delete</button>
                                    <a asp-page="/Cart/List" class="btn btn-success"> Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
