/* Editar.css */
.editar-page {
    margin-top: 50px;
}

.editar-page h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white; /* Cambia el color del texto a blanco */
}

.editar-page .form-group label {
    font-weight: bold;
}

.editar-page .form-group input {
    margin-bottom: 10px;
}

.editar-page .alert-danger ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center; /* Centra el texto dentro de la alerta */
}

.editar-page .btn-primary {
    width: 100%;
    background-color: #b300ff; /* Color morado */
    border-color: #ffffff;    /* Color blanco */
}

/* Estilos adicionales para imágenes */
.editar-page .btn-container {
    text-align: center;
    margin-top: 10px;
}

/* Si quieres aplicar estilos específicos a los campos de entrada en la página de edición */
.editar-page .form-control::placeholder {
    color: #999; /* Color del placeholder */
    opacity: 1; /* Asegura que el color se aplique completamente */
}

.editar-page h2 {
    color: white; /* Cambia el color del texto a blanco */
}
