@page "{id:int}"
@model DealDex.WebSite.Pages.Category.Delete

<div class="category-agregar-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10"></div>
            <h2 class="text-center">Delete</h2>
            <form method="post" class="text-center">
                <input type="hidden" asp-for="CategoryTypeDto.id"/>
                <div class="form-group">
                    <label asp-for="CategoryTypeDto.Nombre" class="form-label"></label>
                    <input readonly="" asp-for="CategoryTypeDto.Nombre" class="form-control" maxlength="45"/>
                </div>
               @if (!ModelState.IsValid)
               {
                   <div class="alert alert-danger" role="alert">
                       <ul>
                           @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
                           {
                               <li>@error.ErrorMessage</li>
                           }
                       </ul>
                   </div>
               }
                <div class="row justify-content-center">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-primary mr-3">Delete</button>
                                    <a asp-page="/Category/List" class="btn btn-success"> Cancel</a>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
