@page "{id:int}"
@model DealDex.WebSite.Pages.Product.Editar

<div class="container-fluid" id="product-editar-container">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <h2>Editing</h2>
                <form method="post">
                    <input type="hidden" asp-for="ProductCategoryDto.id"/>
                    <div class="form-group">
                        <label asp-for="ProductCategoryDto.Image"></label>
                        <input asp-for="ProductCategoryDto.Image" class="form-control" maxlength="10000"/>
                        <span class="text-danger" asp-validation-for="ProductCategoryDto.Image"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductCategoryDto.Titulo"></label>
                        <input asp-for="ProductCategoryDto.Titulo" class="form-control" maxlength="10000"/>
                        <span class="text-danger" asp-validation-for="ProductCategoryDto.Titulo"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductCategoryDto.Precio"></label>
                        <input asp-for="ProductCategoryDto.Precio" class="form-control" maxlength="100"/>
                        <span class="text-danger" asp-validation-for="ProductCategoryDto.Precio"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductCategoryDto.Descripcion"></label>
                        <input asp-for="ProductCategoryDto.Descripcion" class="form-control" maxlength="100"/>
                        <span class="text-danger" asp-validation-for="ProductCategoryDto.Descripcion"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductCategoryDto.IdCategory"></label>
                        <input asp-for="ProductCategoryDto.IdCategory" class="form-control" maxlength="100"/>
                        <span class="text-danger" asp-validation-for="ProductCategoryDto.IdCategory"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductCategoryDto.Estado"></label>
                        <input asp-for="ProductCategoryDto.Estado" class="form-control" maxlength="100"/>
                        <span class="text-danger" asp-validation-for="ProductCategoryDto.Estado"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductCategoryDto.Ubicacion"></label>
                        <input asp-for="ProductCategoryDto.Ubicacion" class="form-control" maxlength="100"/>
                        <span class="text-danger" asp-validation-for="ProductCategoryDto.Ubicacion"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductCategoryDto.IdSupplier"></label>
                        <input asp-for="ProductCategoryDto.IdSupplier" class="form-control" maxlength="100"/>
                        <span class="text-danger" asp-validation-for="ProductCategoryDto.IdSupplier"></span>
                    </div>
                    
                    @if (Model.Errors.Count > 0)
                    {
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                @foreach (var error in Model.Errors)
                                {
                                    <li>@error</li>
                                }
                            </ul>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-primary mr-3">Save</button>
                                    <a asp-page="/Product/List" class="btn btn-success"> Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
