@page
@model DealDex.WebSite.Pages.Users.Agregar

<head>
    <link rel="stylesheet" href="~/css/AgregarUsuarios.css" />
</head>

<body class="agregar-user-page">
    <div class="container-fluid agregar-user">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="logo-container">
                    <img src="~/css/Logo.jpeg" alt="Logo" class="img-fluid" />
                </div>
                <h2>Agregar</h2>
                <form method="post">
                    <input type="hidden" />
                    <div class="form-group">
                        <input asp-for="UsersCategoryDto.NombreUsu" class="form-control" maxlength="45" placeholder="Nombre de usuario"/>
                        <span class="text-danger" asp-validation-for="UsersCategoryDto.NombreUsu"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="UsersCategoryDto.Correo" class="form-control" maxlength="45" placeholder="Correo"/>
                        <span class="text-danger" asp-validation-for="UsersCategoryDto.Correo"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="UsersCategoryDto.Contraseña" type="password" class="form-control" maxlength="45" placeholder="Contraseña"/>
                        <span class="text-danger" asp-validation-for="UsersCategoryDto.Contraseña"></span>
                    </div>
                    @if (Model.Errors.Count > 0)
                    {
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                @foreach (var error in Model.Errors)
                                {
                                    <li>@error</li>
                                }
                            </ul>
                        </div>
                    }
                    <div class="btn-container">
                        <button type="submit" class="btn btn-primary mr-3">Save</button>
                                    <a asp-page="/Users/List" class="btn btn-success"> Cancel</a>
                    </div>
                </form>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</body>
