/* Estilos para la marca de navegación y enlaces del encabezado */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: white; /* Cambiar el color del texto de la marca de navegación */
}

.navbar-nav .nav-link {
  color: white !important; /* Cambiar el color del texto de los enlaces del encabezado */
}

/* Estilos para los botones */
.btn-primary {
  color: #fff;
  background-color: #652CB3;
  border-color: #652CB3;
}

/* Estilos para las píldoras de navegación */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #652CB3;
  border-color: #652CB3;
}

/* Estilos para los bordes */
.border-top {
  border-top: 1px solid #e5e5e5 !important;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5 !important;
}

/* Estilos para las sombras */
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Estilos para el botón de aceptar política */
button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Estilos para el pie de página */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  background-color: #b300ff; /* Cambiar el color de fondo del pie de página */
  color: white; /* Cambiar el color del texto del pie de página */
}

footer a {
  color: white !important; /* Cambiar el color del texto de los enlaces del pie de página */
}

header {
  background-color: #652CB3 !important; /* Cambiar el color de fondo del encabezado a morado */
  color: white !important; /* Asegurar que el color del texto en el header sea blanco */
}

header .navbar-nav .nav-link {
  color: white !important; /* Asegurar que el color de los enlaces en el header sea blanco */
}

header .navbar-brand {
  color: white !important; /* Asegurar que el color de la marca de navegación en el header sea blanco */
}
